# Database Configuration
DB_HOST=localhost
DB_NAME=pau_db
DB_USER=root
DB_PASS=

# Application Configuration
BASE_URL=/ISPM-Project-main/

# Email Configuration
SMTP_USER=rafiatoumalamali@gmail.com
SMTP_PASS=hwwhdjpmeiirgkqd
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
